body {
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.87);
    background-color: #fafafa;
    font-family: 'Inter', sans-serif;
}

#app {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
